body {
    background-color: #222222;
    _font-family: 'Times New Roman';
    _font-size: 1em;
	
}

.toReload
{
	cursor: pointer;
}
.toReloadFull
{
	position: absolute;
	top:50px;
	left:10px;

	width: 1210px;
	height: 700px;

	z-index:10;
}
div.img
{
	width: 640;
	height: 400px;
	float: left;
	margin: 5px;
}

.update, .back
{
	position:fixed;
	top:1em;
	padding:0.5em;
	color: white;
	border: solid 1px white;
	opacity: 0.7;
}

.update
{
	right:1em;
	_background-color: green;
}
.back
{
	left:1em;
	_background-color: blue;
}
.back a,
.update a
{
	color: white;
}